VITE_SUPABASE_URL=https://tbrnbvgyikejlhqoqucl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRicm5idmd5aWtlamxocW9xdWNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4ODQxMzQsImV4cCI6MjA5NjQ2MDEzNH0.PDb4XFV4x8Vir7fXVAN1_yxx8uTyx60bDUj4ieFWCUk
